<server>
	<featureManager>
		<feature>localConnector-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>wsAtomicTransaction-1.2</feature>
		<feature>jndi-1.0</feature>
		<feature>txtest-1.0</feature>
		<feature>cdi-1.2</feature>
	</featureManager>

	<include location="../fatTestCommon.xml" />

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${bvt.prop.HTTP_secondary}"
                  httpsPort="${bvt.prop.HTTP_secondary.secure}">
		<tcpOptions portOpenRetries="100000"/>
    </httpEndpoint>

	<transaction
 		recoverOnStartup="true"
 		waitForRecovery="false"
 		heuristicRetryInterval="10"
  		heuristicRetryLimit="10"
  		clientInactivityTimeout="15s"
  	/>

   <httpEndpoint id="adminHttpEndpoint" httpPort="9082" httpsPort="9445" host="localhost" />

  	<virtualHost id="liberty_admin_host"> 
        <hostAlias>localhost:9082</hostAlias>
        <hostAlias>localhost:9445</hostAlias>
    </virtualHost>

	<wsAtomicTransaction asyncResponseTimeout="60000"/>

	<javaPermission name="*" actions="*" className="java.security.AllPermission"/>
</server>
